* {
    color: #ffffff;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    margin: 0;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: Arial;
}

#center {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
    padding-top: 15vh;
}

#game-board {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    width: 350px;
    height: 350px;
}

#input {
    position: relative;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5vw;
}

input, button {
    color: #000000;
}

.game-button {
    display: block;
    width: 60%;
    margin: 5px auto;
    height: auto;
}

.cell {
    border: 2px solid #ffffff;
    background-color: #000099;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
}